# Laboratorio 1
## Data Science
### 20768 Axel Lopez
### 18797 Leonel Contreras

In [1]:
# importamos los paquetes necesarios
import pandas as pd
import numpy
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.decomposition import PCA
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
from factor_analyzer.factor_analyzer import calculate_kmo
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline

In [2]:
# leemos los datos 
datos = pd.read_csv("risk_factors_cervical_cancer.csv")

In [3]:
# usamos el metodo head para ver los datos
datos.head()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,?,?,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,?,?,0,0,0,0,0,0,0,0
2,34,1.0,?,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,?,?,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,0.0,...,?,?,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,0.0,...,?,?,0,0,0,0,0,0,0,0

In [4]:
# vemos los tipos de datos de cada columna del dataframe
print(datos.dtypes)

Age                                    int64
Number of sexual partners             object
First sexual intercourse              object
Num of pregnancies                    object
Smokes                                object
Smokes (years)                        object
Smokes (packs/year)                   object
Hormonal Contraceptives               object
Hormonal Contraceptives (years)       object
IUD                                   object
IUD (years)                           object
STDs                                  object
STDs (number)                         object
STDs:condylomatosis                   object
STDs:cervical condylomatosis          object
STDs:vaginal condylomatosis           object
STDs:vulvo-perineal condylomatosis    object
STDs:syphilis                         object
STDs:pelvic inflammatory disease      object
STDs:genital herpes                   object
STDs:molluscum contagiosum            object
STDs:AIDS                             object
STDs:HIV                              object
STDs:Hepatitis B                      object
STDs:HPV                              object
STDs: Number of diagnosis              int64
STDs: Time since first diagnosis      object
STDs: Time since last diagnosis       object
Dx:Cancer                              int64
Dx:CIN                                 int64
Dx:HPV                                 int64
Dx                                     int64
Hinselmann                             int64
Schiller                               int64
Citology                               int64
Biopsy                                 int64
dtype: object

In [5]:
# guardamos los nombres de las columnas en una lista
column_names_list = datos.columns.tolist()
# vemos los nombres 
column_names_list

['Age',
 'Number of sexual partners',
 'First sexual intercourse',
 'Num of pregnancies',
 'Smokes',
 'Smokes (years)',
 'Smokes (packs/year)',
 'Hormonal Contraceptives',
 'Hormonal Contraceptives (years)',
 'IUD',
 'IUD (years)',
 'STDs',
 'STDs (number)',
 'STDs:condylomatosis',
 'STDs:cervical condylomatosis',
 'STDs:vaginal condylomatosis',
 'STDs:vulvo-perineal condylomatosis',
 'STDs:syphilis',
 'STDs:pelvic inflammatory disease',
 'STDs:genital herpes',
 'STDs:molluscum contagiosum',
 'STDs:AIDS',
 'STDs:HIV',
 'STDs:Hepatitis B',
 'STDs:HPV',
 'STDs: Number of diagnosis',
 'STDs: Time since first diagnosis',
 'STDs: Time since last diagnosis',
 'Dx:Cancer',
 'Dx:CIN',
 'Dx:HPV',
 'Dx',
 'Hinselmann',
 'Schiller',
 'Citology',
 'Biopsy']

In [6]:
# reemplazamos '?' con nan usando la funcion replace
datos['First sexual intercourse'] = datos['First sexual intercourse'].apply(lambda x: np.nan if x == '?' else x)

In [7]:
datos = datos.applymap(lambda x: np.nan if x == '?' else x)

In [8]:
datos.head()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,34,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,0.0,...,NaN,NaN,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0

In [21]:
unique_values = datos['Age'].unique()
print(unique_values)

[18 15 34 52 46 42 51 26 45 44 27 43 40 41 39 37 38 36 35 33 31 32 30 23
 28 29 20 25 21 24 22 48 19 17 16 14 59 79 84 47 13 70 50 49]

In [26]:
# vemos los valores unicos de cada columna
contador = 1
for name in column_names_list:
    unique_values = datos[name].unique()
    unique_set = set(unique_values)
    print(contador)
    print(unique_set)
    contador+=1

1
{13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 59, 70, 79, 84}
2
{nan, '8.0', '28.0', '10.0', '1.0', '9.0', '2.0', '15.0', '6.0', '3.0', '7.0', '5.0', '4.0'}
3
{nan, '26.0', '16.0', '22.0', '24.0', '13.0', '29.0', '32.0', '23.0', '17.0', '25.0', '21.0', '28.0', '14.0', '27.0', '15.0', '12.0', '19.0', '20.0', '11.0', '18.0', '10.0'}
4
{nan, '8.0', '11.0', '10.0', '1.0', '0.0', '2.0', '6.0', '3.0', '7.0', '5.0', '4.0'}
5
{nan, '0.0', '1.0'}
6
{nan, '0.16', '16.0', '22.0', '24.0', '0.5', '13.0', '1.266972909', '1.0', '32.0', '6.0', '34.0', '21.0', '28.0', '14.0', '2.0', '15.0', '3.0', '7.0', '12.0', '4.0', '19.0', '5.0', '8.0', '11.0', '20.0', '37.0', '18.0', '10.0', '9.0', '0.0'}
7
{nan, '1.3', '0.37', '0.16', '1.4', '0.4', '0.25', '0.001', '0.2', '5.7', '0.7', '3.3', '3.4', '22.0', '2.2', '0.04', '0.75', '0.1', '1.6', '0.5', '1.2', '1.25', '1.0', '0.15', '0.5132021277', '6.0', '4.5', '0.003', '1.35', '2.5', '21.0', '0.8', '2.6', '2.8', '2.0', '15.0', '2.25', '2.75', '3.0', '12.0', '5.0', '19.0', '7.0', '4.0', '8.0', '0.3', '37.0', '2.4', '0.9', '0.32', '1.65', '7.6', '5.5', '2.7', '0.025', '9.0', '3.5', '0.0', '4.8', '0.05', '7.5', '0.45', '2.1'}
8
{nan, '0.0', '1.0'}
9
{nan, '0.16', '0.25', '16.0', '0.17', '22.0', '0.58', '0.75', '2.282200521', '0.5', '1.5', '13.0', '1.0', '6.0', '6.5', '17.0', '4.5', '30.0', '0.08', '2.5', '0.66', '14.0', '2.0', '15.0', '0.42', '3.0', '12.0', '7.0', '4.0', '5.0', '19.0', '8.0', '11.0', '20.0', '0.41', '10.0', '9.0', '3.5', '0.0', '0.67', '0.33'}
10
{nan, '0.0', '1.0'}
11
{nan, '0.16', '0.25', '0.17', '0.58', '0.5', '1.5', '1.0', '6.0', '17.0', '0.08', '2.0', '15.0', '3.0', '12.0', '7.0', '5.0', '19.0', '4.0', '8.0', '11.0', '0.41', '10.0', '9.0', '0.0', '0.91', '0.33'}
12
{nan, '0.0', '1.0'}
13
{nan, '1.0', '0.0', '2.0', '3.0', '4.0'}
14
{nan, '0.0', '1.0'}
15
{nan, '0.0'}
16
{nan, '0.0', '1.0'}
17
{nan, '0.0', '1.0'}
18
{nan, '0.0', '1.0'}
19
{nan, '0.0', '1.0'}
20
{nan, '0.0', '1.0'}
21
{nan, '0.0', '1.0'}
22
{nan, '0.0'}
23
{nan, '0.0', '1.0'}
24
{nan, '0.0', '1.0'}
25
{nan, '0.0', '1.0'}
26
{0, 1, 2, 3}
27
{nan, '16.0', '22.0', '1.0', '6.0', '21.0', '2.0', '15.0', '3.0', '7.0', '12.0', '4.0', '5.0', '19.0', '8.0', '11.0', '18.0', '10.0', '9.0'}
28
{nan, '16.0', '22.0', '1.0', '6.0', '21.0', '2.0', '15.0', '3.0', '7.0', '12.0', '4.0', '5.0', '19.0', '8.0', '11.0', '18.0', '10.0', '9.0'}
29
{0, 1}
30
{0, 1}
31
{0, 1}
32
{0, 1}
33
{0, 1}
34
{0, 1}
35
{0, 1}
36
{0, 1}

In [ ]:
# usamos el metodo describe para describir los datos
datos.describe()