# Laboratorio 1
## Data Science
### 20768 Axel Lopez
### 18797 Leonel Contreras

In [1]:
# importamos los paquetes necesarios
import pandas as pd
import numpy
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.decomposition import PCA
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
from factor_analyzer.factor_analyzer import calculate_kmo
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline

In [2]:
# leemos los datos 
datos = pd.read_csv("risk_factors_cervical_cancer.csv")

In [3]:
# usamos el metodo head para ver los datos
datos.head()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,?,?,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,?,?,0,0,0,0,0,0,0,0
2,34,1.0,?,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,?,?,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,0.0,...,?,?,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,0.0,...,?,?,0,0,0,0,0,0,0,0

In [4]:
# vemos los tipos de datos de cada columna del dataframe
print(datos.dtypes)

Age                                    int64
Number of sexual partners             object
First sexual intercourse              object
Num of pregnancies                    object
Smokes                                object
Smokes (years)                        object
Smokes (packs/year)                   object
Hormonal Contraceptives               object
Hormonal Contraceptives (years)       object
IUD                                   object
IUD (years)                           object
STDs                                  object
STDs (number)                         object
STDs:condylomatosis                   object
STDs:cervical condylomatosis          object
STDs:vaginal condylomatosis           object
STDs:vulvo-perineal condylomatosis    object
STDs:syphilis                         object
STDs:pelvic inflammatory disease      object
STDs:genital herpes                   object
STDs:molluscum contagiosum            object
STDs:AIDS                             object
STDs:HIV                              object
STDs:Hepatitis B                      object
STDs:HPV                              object
STDs: Number of diagnosis              int64
STDs: Time since first diagnosis      object
STDs: Time since last diagnosis       object
Dx:Cancer                              int64
Dx:CIN                                 int64
Dx:HPV                                 int64
Dx                                     int64
Hinselmann                             int64
Schiller                               int64
Citology                               int64
Biopsy                                 int64
dtype: object

Posterior a la lectura del archivo csv, analizamos el tipo de dato de cada columna. Vemos que la mayoría de las columnas tienen sus valores como un objeto de tipo object. Por ende, es necesario cambiar dicho tipo de dato a un tipo de dato numérico, e.g. a un float.

In [5]:
# guardamos los nombres de las columnas en una lista
column_names_list = datos.columns.tolist()
# vemos los nombres 
column_names_list

['Age',
 'Number of sexual partners',
 'First sexual intercourse',
 'Num of pregnancies',
 'Smokes',
 'Smokes (years)',
 'Smokes (packs/year)',
 'Hormonal Contraceptives',
 'Hormonal Contraceptives (years)',
 'IUD',
 'IUD (years)',
 'STDs',
 'STDs (number)',
 'STDs:condylomatosis',
 'STDs:cervical condylomatosis',
 'STDs:vaginal condylomatosis',
 'STDs:vulvo-perineal condylomatosis',
 'STDs:syphilis',
 'STDs:pelvic inflammatory disease',
 'STDs:genital herpes',
 'STDs:molluscum contagiosum',
 'STDs:AIDS',
 'STDs:HIV',
 'STDs:Hepatitis B',
 'STDs:HPV',
 'STDs: Number of diagnosis',
 'STDs: Time since first diagnosis',
 'STDs: Time since last diagnosis',
 'Dx:Cancer',
 'Dx:CIN',
 'Dx:HPV',
 'Dx',
 'Hinselmann',
 'Schiller',
 'Citology',
 'Biopsy']

In [ ]:
# reemplazamos '?' con nan usando la funcion replace
#datos['First sexual intercourse'] = datos['First sexual intercourse'].apply(lambda x: np.nan if x == '?' else x)

In [6]:
datos = datos.applymap(lambda x: np.nan if x == '?' else x)

Debido a que varias columnas tienen su tipo de dato como object, estas columnas aceptan el valor '?' como un string. Por ende, es necesario -utilizando el código anterior- cambiar dichas entrads con valor '?' a np.nan.

In [7]:
datos.head()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,34,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,0.0,...,NaN,NaN,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0

Podemos apreciar que se realizó exitosamente el cambio de dichas entradas con '?' por np.nan.

In [ ]:
unique_values = datos['Age'].unique()
print(unique_values)

In [8]:
# vemos los valores unicos de cada columna
for name in column_names_list:
    unique_values = datos[name].unique()
    unique_set = set(unique_values)
    print(name+": ")
    print(unique_set)

Age:
{13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 59, 70, 79, 84}
Number of sexual partners:
{'5.0', nan, '7.0', '8.0', '1.0', '6.0', '9.0', '2.0', '4.0', '28.0', '3.0', '10.0', '15.0'}
First sexual intercourse:
{nan, '25.0', '28.0', '11.0', '27.0', '13.0', '16.0', '15.0', '17.0', '12.0', '26.0', '29.0', '10.0', '23.0', '21.0', '22.0', '14.0', '20.0', '24.0', '32.0', '19.0', '18.0'}
Num of pregnancies:
{'5.0', nan, '8.0', '7.0', '1.0', '6.0', '2.0', '4.0', '0.0', '11.0', '3.0', '10.0'}
Smokes:
{nan, '0.0', '1.0'}
Smokes (years):
{nan, '8.0', '1.0', '2.0', '0.0', '28.0', '11.0', '0.16', '3.0', '34.0', '13.0', '16.0', '0.5', '15.0', '5.0', '7.0', '12.0', '9.0', '37.0', '10.0', '1.266972909', '21.0', '6.0', '22.0', '4.0', '14.0', '20.0', '32.0', '24.0', '19.0', '18.0'}
Smokes (packs/year):
{nan, '0.5132021277', '8.0', '1.0', '7.6', '0.05', '2.0', '0.003', '5.7', '0.001', '0.2', '0.0', '2.2', '0.16', '3.0', '1.25', '2.1', '2.7', '0.37', '3.4', '0.75', '0.4', '0.25', '2.6', '5.5', '2.25', '0.9', '0.025', '2.4', '15.0', '1.35', '5.0', '0.5', '0.04', '3.3', '7.5', '7.0', '2.5', '0.3', '12.0', '0.7', '9.0', '2.75', '4.8', '3.5', '37.0', '1.65', '4.5', '6.0', '1.6', '21.0', '1.2', '0.45', '22.0', '4.0', '1.3', '0.8', '2.8', '19.0', '0.15', '0.1', '0.32', '1.4'}
Hormonal Contraceptives:
{nan, '0.0', '1.0'}
Hormonal Contraceptives (years):
{nan, '8.0', '0.08', '1.0', '2.0', '0.17', '0.0', '11.0', '0.16', '3.0', '0.58', '0.66', '0.75', '0.25', '6.5', '30.0', '13.0', '16.0', '0.5', '15.0', '5.0', '2.5', '7.0', '0.33', '17.0', '1.5', '12.0', '9.0', '0.41', '3.5', '2.282200521', '0.42', '4.5', '10.0', '6.0', '22.0', '4.0', '14.0', '20.0', '19.0', '0.67'}
IUD:
{nan, '0.0', '1.0'}
IUD (years):
{nan, '8.0', '0.08', '1.0', '0.91', '2.0', '0.17', '0.0', '11.0', '0.16', '3.0', '0.58', '0.25', '0.5', '15.0', '5.0', '7.0', '0.33', '17.0', '1.5', '12.0', '9.0', '0.41', '10.0', '6.0', '4.0', '19.0'}
STDs:
{nan, '0.0', '1.0'}
STDs (number):
{nan, '1.0', '2.0', '4.0', '0.0', '3.0'}
STDs:condylomatosis:
{nan, '0.0', '1.0'}
STDs:cervical condylomatosis:
{nan, '0.0'}
STDs:vaginal condylomatosis:
{nan, '0.0', '1.0'}
STDs:vulvo-perineal condylomatosis:
{nan, '0.0', '1.0'}
STDs:syphilis:
{nan, '0.0', '1.0'}
STDs:pelvic inflammatory disease:
{nan, '0.0', '1.0'}
STDs:genital herpes:
{nan, '0.0', '1.0'}
STDs:molluscum contagiosum:
{nan, '0.0', '1.0'}
STDs:AIDS:
{nan, '0.0'}
STDs:HIV:
{nan, '0.0', '1.0'}
STDs:Hepatitis B:
{nan, '0.0', '1.0'}
STDs:HPV:
{nan, '0.0', '1.0'}
STDs: Number of diagnosis:
{0, 1, 2, 3}
STDs: Time since first diagnosis:
{nan, '8.0', '1.0', '2.0', '11.0', '3.0', '16.0', '15.0', '5.0', '7.0', '12.0', '9.0', '10.0', '21.0', '6.0', '22.0', '4.0', '19.0', '18.0'}
STDs: Time since last diagnosis:
{nan, '8.0', '1.0', '2.0', '11.0', '3.0', '16.0', '15.0', '5.0', '7.0', '12.0', '9.0', '10.0', '21.0', '6.0', '22.0', '4.0', '19.0', '18.0'}
Dx:Cancer:
{0, 1}
Dx:CIN:
{0, 1}
Dx:HPV:
{0, 1}
Dx:
{0, 1}
Hinselmann:
{0, 1}
Schiller:
{0, 1}
Citology:
{0, 1}
Biopsy:
{0, 1}

Para determinar las variables categóricas que están en el dataframe, utilizamos el método .unique(). Dicho método permite extraer los valores únicos en cada columna del dataframe; con dichos valores únicos, podemos determinar que una columna corresponde a una variable categórica si sus únicos valores son: 0,1 o NaN. 

Con esto en mente, determinamos que las variables categóricas en el dataframe son:

variables_categoricas = ['Smokes', 'Hormonal Contraceptives', 'IUD', 'STDs', 'STDs:condylomatosis', 'STDs:cervical condylomatosis',
             'STDs:vaginal condylomatosis', 'STDs:vulvo-perineal condylomatosis', 'STDs:syphilis',
             'STDs:pelvic inflammatory disease', 'STDs:genital herpes', 'STDs:molluscum contagiosum', 'STDs:AIDS',
             'STDs:HIV', 'STDs:Hepatitis B', 'STDs:HPV', 'Dx:Cancer', 'Dx:CIN', 'Dx:HPV', 'Dx', 'Hinselmann',
             'Schiller', 'Citology', 'Biopsy']

In [9]:
# creamos un nuevo dataframe en el cual cambiamos todos los tipos de datos a float
df = pd.DataFrame()
for name in column_names_list:
    df[name] = datos[name].astype(float)

In [10]:
# usamos el metodo head para visualizar el nuevo dataframe
df.head()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18.0,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.0,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34.0,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,52.0,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,0.0,...,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,46.0,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# verificamos que todas las columnas tienen ahora tipo float
print(df.dtypes)

Age                                   float64
Number of sexual partners             float64
First sexual intercourse              float64
Num of pregnancies                    float64
Smokes                                float64
Smokes (years)                        float64
Smokes (packs/year)                   float64
Hormonal Contraceptives               float64
Hormonal Contraceptives (years)       float64
IUD                                   float64
IUD (years)                           float64
STDs                                  float64
STDs (number)                         float64
STDs:condylomatosis                   float64
STDs:cervical condylomatosis          float64
STDs:vaginal condylomatosis           float64
STDs:vulvo-perineal condylomatosis    float64
STDs:syphilis                         float64
STDs:pelvic inflammatory disease      float64
STDs:genital herpes                   float64
STDs:molluscum contagiosum            float64
STDs:AIDS                             float64
STDs:HIV                              float64
STDs:Hepatitis B                      float64
STDs:HPV                              float64
STDs: Number of diagnosis             float64
STDs: Time since first diagnosis      float64
STDs: Time since last diagnosis       float64
Dx:Cancer                             float64
Dx:CIN                                float64
Dx:HPV                                float64
Dx                                    float64
Hinselmann                            float64
Schiller                              float64
Citology                              float64
Biopsy                                float64
dtype: object

In [12]:
# creamos una lista con los nombres de las columnas que determinamos como variables categoricas
variables_categoricas = ['Smokes', 'Hormonal Contraceptives', 'IUD', 'STDs', 'STDs:condylomatosis', 'STDs:cervical condylomatosis',
             'STDs:vaginal condylomatosis', 'STDs:vulvo-perineal condylomatosis', 'STDs:syphilis',
             'STDs:pelvic inflammatory disease', 'STDs:genital herpes', 'STDs:molluscum contagiosum', 'STDs:AIDS',
             'STDs:HIV', 'STDs:Hepatitis B', 'STDs:HPV', 'Dx:Cancer', 'Dx:CIN', 'Dx:HPV', 'Dx', 'Hinselmann',
             'Schiller', 'Citology', 'Biopsy']

In [13]:
# usamos el metodo .pop() para quitar las columnas de las variables categoricas del dataframe
for name in variables_categoricas:
    df.pop(name)

In [14]:
# guardamos los nombres de las columnas en una lista
column_names_list_df = df.columns.tolist()
# vemos los nombres 
column_names_list_df

['Age',
 'Number of sexual partners',
 'First sexual intercourse',
 'Num of pregnancies',
 'Smokes (years)',
 'Smokes (packs/year)',
 'Hormonal Contraceptives (years)',
 'IUD (years)',
 'STDs (number)',
 'STDs: Number of diagnosis',
 'STDs: Time since first diagnosis',
 'STDs: Time since last diagnosis']

In [15]:
# vemos las columnas y los repectivos tipos de datos de las columnas restantes en el dataframe
print(df.dtypes)

Age                                 float64
Number of sexual partners           float64
First sexual intercourse            float64
Num of pregnancies                  float64
Smokes (years)                      float64
Smokes (packs/year)                 float64
Hormonal Contraceptives (years)     float64
IUD (years)                         float64
STDs (number)                       float64
STDs: Number of diagnosis           float64
STDs: Time since first diagnosis    float64
STDs: Time since last diagnosis     float64
dtype: object

In [17]:
# visalizamos los datos
df.head()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes (years),Smokes (packs/year),Hormonal Contraceptives (years),IUD (years),STDs (number),STDs: Number of diagnosis,STDs: Time since first diagnosis,STDs: Time since last diagnosis
0,18.0,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,15.0,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,34.0,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,52.0,5.0,16.0,4.0,37.0,37.0,3.0,0.0,0.0,0.0,NaN,NaN
4,46.0,3.0,21.0,4.0,0.0,0.0,15.0,0.0,0.0,0.0,NaN,NaN

In [16]:
# usamos el metodo describe para describir los datos
df.describe()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes (years),Smokes (packs/year),Hormonal Contraceptives (years),IUD (years),STDs (number),STDs: Number of diagnosis,STDs: Time since first diagnosis,STDs: Time since last diagnosis
count,858.000000,832.000000,851.000000,802.000000,845.000000,845.000000,750.000000,741.000000,753.000000,858.000000,71.000000,71.000000
mean,26.820513,2.527644,16.995300,2.275561,1.219721,0.453144,2.256419,0.514804,0.176627,0.087413,6.140845,5.816901
std,8.497948,1.667760,2.803355,1.447414,4.089017,2.226610,3.764254,1.943089,0.561993,0.302545,5.895024,5.755271
min,13.000000,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,20.000000,2.000000,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
50%,25.000000,2.000000,17.000000,2.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,4.000000,3.000000
75%,32.000000,3.000000,18.000000,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,8.000000,7.500000
max,84.000000,28.000000,32.000000,11.000000,37.000000,37.000000,30.000000,19.000000,4.000000,3.000000,22.000000,22.000000

Aqui hace lo del PCA, gracias Axel, cualquier cosa me contas ;)